<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <script src="/js/bootstrap.js" ></script>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="row">
    <div class="container">
      <a class="btn btn-primary" href="/" >Anasayfa</a>
      <a class="btn btn-primary" href="/users" >Kullanicilar </a>
      <a class="btn btn-primary" href="/books" >Kitaplar </a>
    </div>
  </div>
  <div class="row">
    <div class="container" layout:fragment="content">
      <!--  CONTENT-->
    </div>
  </div>
  <div class="row">
    <div class="container">
      BURASI FOOTER
    </div>
  </div>
</body>
</html>
